.gradle
!gradle/wrapper/gradle-wrapper.jar
/build/
/dependencies/
Vagrantfile
.vagrant
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr